@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap");

:root {
  --primary-color: #252c37;
  --secondary-color: #f5f5f5e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.5px;
  transition: all 0.3s ease-in-out;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--secondary-color);
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.navigation_banner {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;

  -webkit-box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 40px 0px rgba(66, 68, 90, 1);
}

.navigation_banner h1 {
  font-size: 100px;
  padding: 0 90px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: var(--secondary-color);
}

.nav-icon {
  width: 200px;
  height: 200px;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.nav-icon:hover {
  transform: scale(1.1);
}

.nav-icon img {
  width: 50%;
  height: 50%;
}

.main-training-schedule {
  display: block;
  width: 100%;
  height: 76vh;
  overflow: auto;
  overflow: scroll;
}

#add-training-content {
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color);
}

.training-title-input {
  position: absolute;
  background-color: var(--secondary-color);
  top: 25%;
  left: 15%;
  width: 70%;
  height: 25%;
  border: 10px solid var(--primary-color);
  border-radius: 80px;
  z-index: 9999 !important;
}

.training-title-input-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999999 !important;
}

.training-title-input-content label {
  font-size: 64px;
}

.btn-add-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 25px 100px;
  font-size: 50px;
  border: 3px solid var(--secondary-color);
  background-color: #252c37;
  color: var(--secondary-color);
}

.close-input-title-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
  color: var(--primary-color);
  cursor: pointer;
}

.training-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: var(--primary-color);
  width: 60%;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.acive {
  display: flex;
  z-index: 9999999 !important;
}

.training-card {
  width: 100%;
  height: 50%;
}

.training-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.training-title input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: var(--primary-color);
  width: 60%;
}

.add-training-icon {
  position: absolute;
  bottom: 450px;
  right: 45px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid var(--primary-color);
  color: var(--primary-color);
}

.exercise-specifications {
  width: calc(100% - 160px);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin: 80px;
}

input {
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background-color: transparent;
}

span {
  display: flex;
  justify-content: space-between;
}

span input {
  width: 35% !important;
  margin-right: 100px;
}

.exercise-specifications input,
.exercise-specifications label {
  font-size: 64px;
  color: var(--primary-color);
}

.exercise-specifications input {
  width: 50%;
}

.exercise-specifications .weight,
.reps,
.sets {
  display: flex;
  width: 100%;
  margin: 100px;
  gap: 50px;
  align-items: center;
}

.exercise-input {
  text-transform: uppercase;
}

.exercise-title {
  width: 100%;
  margin-bottom: 100px;
  grid-area: 1 / 1 / 2 / 5;
}
.weight {
  grid-area: 2 / 3 / 3 / 5;
}
.reps {
  grid-area: 3 / 3 / 4 / 5;
}
.sets {
  grid-area: 4 / 3 / 5 / 5;
}
.img-app {
  width: 100%;
  grid-area: 2 / 1 / 4 / 3;
}

.barbell-icon {
  width: 500px;
  height: 500px;
  color: var(--primary-color);
}

.timer {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-area: 4 / 1 / 5 / 3;
}

.set-timer {
  margin-bottom: 100px;
}

.video-option {
  width: 65%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  grid-area: 5 / 1 / 6 / 3;
  margin-bottom: 100px;
}

.video-option label {
  font-size: 50px;
}

.video-option input {
  width: 100%;
  height: 80px;
  border: 3px solid black;
  accent-color: var(--primary-color);
}

.add-reset-exercise {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  grid-area: 6 / 1 / 7 / 5;
}

.add-reset-exercise button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 50px 200px;
  font-size: 64px;
  border: 3px solid var(--secondary-color);
  background-color: #252c37;
  color: var(--secondary-color);
}

.add-reset-exercise button:nth-child(1) {
  border: 3px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#trainingList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 20px;
}

.exercise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 70px;
}

.exercise-container label {
  margin-top: 5px;
  font-size: 50px;
}

.exercise-container input {
  width: 30%;
  margin-top: 5px;
  font-size: 50px;
}

.exercise-item-container {
  width: 100%;
  color: #252c37;
}

.exercise-item {
  background-color: #f5f5f5e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 75px;
  margin-bottom: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 40px 0px rgba(66, 68, 90, 1);
}

.name-timer {
  display: flex;
  gap: 50px;
}

.items {
  display: flex;
  gap: 10px;
}

.training-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-height: 250px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: var(--primary-color);
  font-size: 100px;
  border-radius: 80px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 1);
}

.remove-items-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

.exercise-item {
  color: var(--primary-color);
  position: relative;
}

.next-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 15px solid var(--primary-color);
  background-color: var(--secondary-color);
  margin-top: 20px;
  stroke-width: 5px;
}

.next-exercise {
  width: 200px;
  height: 100px;
  color: var(--primary-color);
}

.save-btn {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 35px;
  font-size: 50px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 40px 0px rgba(66, 68, 90, 1);
}

/* <---------------------------------------------------BUTTON SCHEDULE SECTION ------------------------------> */
.button-schedule-section {
  display: none;
  width: 100%;
  height: 100;
  flex-direction: column;
  gap: 50px;
  background-color: transparent;

  padding: 0 50px;
  font-size: 40px;
}

.hide {
  display: none;
}

.burger-menu {
  width: 500px;
  height: 500px;
  display: flex;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background: transparent;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 40px 0px rgba(66, 68, 90, 1);
  border-radius: 25px;
  gap: 50px;
}

.container-exercise {
  gap: 50px;
  transition: max-height 0.3s ease;
  flex-direction: column;
}

.trening-data {
  font-size: 40px;
}

.exercise-item-weekly {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 30%;
  margin-bottom: 50px;
}

.footer-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12vh;
  background-color: var(--primary-color);
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 0px -8px 16px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px -8px 16px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px -8px 40px 0px rgba(66, 68, 90, 1);
}

.footer-icon {
  width: 140px;
  height: 140px;
  color: var(--secondary-color);
  border: 15px solid var(--secondary-color);
  padding: 30px;
  border-radius: 50%;
}
.hidden,
.inactive {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.active2 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.exercise-name-item {
  width: auto !important;
}
