@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #DC0A2D;
    --secondary-color: #28AAFD;
    --third-color: #fbff00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: 12px;
    scrollbar-color: var(--secondary-color) #fff;
}

body,
html {
    overflow: auto;
}


body {
    background-color: var(--secondary-color);
}

.container {
    background-color: var(--secondary-color);
    position: relative;
}

.header-home {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    box-shadow: inset var(--secondary-color) 0px 0px 200px -5px;
    border-bottom: 4px solid #ffffff;
    border-radius: 30px;
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;

}

.logo-pokeball {
    position: relative;
    width: 40px;
    filter: invert(0%) brightness(100%);

}

.title-page {
    position: absolute;
    top: -10px;
    left: calc(50% - 100px);
    letter-spacing: 3px;
    text-shadow:
        4px 4px 0 white,
        -4px -4px 0 white,
        -4px 4px 0 white,
        4px -4px 0 white;
    color: var(--secondary-color);
    font-size: 1.5em;
    font-family: 'Pokemon Solid', sans-serif;
}

span {
    margin-top: 10px;
    display: flex;
    align-items: center;

}

.search {
    position: relative;
    width: 100%;
    padding: 10px;
    padding-left: 10%;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.search::placeholder {
    transform: translateX(-140%);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    padding: 15px;
    margin: 0 15px 0 30px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--secondary-color);

}

span ion-icon {
    position: absolute;
    left: 25px;
    z-index: 9;
    font-size: 1.3rem;
    margin-right: 5px;
    color: var(--secondary-color);
    filter: drop-shadow(linear-gradient(to top, #dfe9f3 0%, white 100%);
            -webkit-box-shadow: 0px 0px 2px 0px rgba(66, 68, 90, 1);
            -moz-box-shadow: 0px 0px 2px 0px rgba(66, 68, 90, 1);
            box-shadow: 0px 0px 2px 0px rgba(66, 68, 90, 1); )
}


.poke {
    width: 75px;
    height: 75px;
}

.img-wrap {
    display: flex;
    justify-content: center;
    flex: 1;
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
    transition: transform 0.6s;
}

.img-wrap:hover {
    transform: scale(1.3, 1.3);
}

.menu {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 2px;
    color: #fff;
}

.menu label {
    margin: 0;
    line-height: 2;
}

.body2-fonts {
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.body3-fonts {
    margin-left: 2px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--secondary-color);
}

.caption-fonts {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.8em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--secondary-color);
}


.search-close-icon,
.sort-icon {
    cursor: pointer;
}

.sort-icon {
    position: relative;
}

.filter-wrapper {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    font-family: "Roboto", sans-serif;
    color: #fff;
    padding: 5px;
    border: 3px solid white;
    border-radius: 15%;
    line-height: 30px;
    right: 5px;
    z-index: 2;
}

.filter-wrapper {
    display: none;
}

.filter-wrapper.show {
    display: block;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.nav-button {
    font-size: 32px;
    padding: 10px;
    margin: 0 15px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    color: #fff;
    transition: background 0.3s;
}

.nav-button:disabled {
    cursor: not-allowed;
}

#page-number {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 15px;

}

.pokemon-container {
    position: relative;
    overflow-y: scroll;
    background-color: white;
    height: 900px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 5px 0 5px;
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#not-found-message {
    position: absolute;
    color: var(--secondary-color);
    left: calc(50% - 165px);
    top: 50vh;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 900;
    z-index: 20;
}

.search-close-icon-visible {
    display: block;
}

.pokemon-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    border: none;
    border-radius: 15%;
    box-shadow: #28abfd38 0px 3px 12px;
    width: 120px;
    height: 120px;
    text-align: center;
}





canvas {
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

.main-details {
    background-color: var(--primary-color);
    color: #fff;
}

.header {
    max-height: 135px;
    background: var(--secondary-color);
    border-bottom-right-radius: 75px;
}

.header-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.name,
.pokemon-id-wrap>p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: #fff !important;
    text-shadow:
        2px 2px 0 black,
        2px 2px 0 black,
        2px 2px 0 black,
        2px 2px 0 black;
    margin: 0 10px;
}

.arrow img {
    -webkit-filter: brightness(0) grayscale(1) invert(1);
    filter: brightness(0) grayscale(1) invert(1);
    width: 35px;
}


.back-btn {
    margin: 10px 0 0 5px;
}

.detail-card-detail-wrapper {
    display: block;
    background-color: #fff;
}

.detail-img-wrapper {
    width: 220px;
    height: 280px;
}

.featured-img {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 10px;
}

.detail-img-wrapper {
    margin: 50px 15px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-img-wrapper img {
    max-width: 250px;
    max-height: 250px;
}



.power-wrapper {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;

}

.power-wrapper .grass,
.poison {
    color: #fff !important;
}

.power-wrapper>p {
    border-radius: 10px;
    padding: 3px 8px;
    margin-bottom: 10px;
    text-transform: capitalize;
    background-color: #74cb48;
    color: var(--secondary-color);
}


.pokemon-detail-wrapper {
    display: flex;
    background-color: #fff;
    color: var(--secondary-color);
    justify-content: space-around;
    align-items: center;
    margin: 0;
    border-radius: 65px;
}

.main-details p {
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 2px 20px 2px;
}

.pokemon-detail-wrapper p {
    color: #28AAFD;
    justify-content: center;
    text-align: center;
    margin: 20px 2px 10px 2px;
}

.pokemon-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 72px !important;
    margin-right: 72px !important;
}


.main-details .caption-fonts {
    position: static;
    font-size: 0.8em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #28AAFD;
    margin-bottom: 20px;
}

.pokemon-detail-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #fff;
    justify-content: space-evenly;
}

.pokemon-detail.move p {
    text-transform: capitalize;
    word-break: break-all;
}

.pokemon-detail-wrapper {

    display: flex;
    align-items: flex-end;
}

.about-text {
    color: #28AAFD !important;
    font-size: 20px;
}

.pokemon-detail {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.weighten,
.straighten {
    width: 26px;
    height: 26px;
}

.weighten,
.straighten,
.move {
    margin-bottom: 5px;
}